{
    "name": "{{ modPdfgenerator }}",
    "priority": 10,
    "waitDeploy" : true,
    "worker": true,
    "config": {
        "main": "fr.wseduc.pdfgenerator.PDFGenerator",
        "address": "entcore.pdf.generator"
    }
}