{
  "name": "fr.wseduc~mod-pdf-generator",
  "waitDeploy" : true,
  "worker": true,
  "config": {
    "main": "fr.wseduc.pdfgenerator.PDFGenerator",
    "address": "entcore.pdf.generator"
  }
}